---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/v1/apps/foo/reviews?utoken=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '1'
      X-Ratelimit-Remaining-Minute:
      - '4998'
      X-Ratelimit-Limit-Minute:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "reviews": [
            {
              "id": 34789515,
              "title": "GREAT shirts",
              "content": "I now have several of these shirts and they are great. Great quality and look. My only minor complaint is that I have had one or two that have been SLIGHTLY on the small side. That said, their order process is easy and the product is great I will continue to buy most of my shirts from them.",
              "score": 4,
              "votes_up": 0,
              "votes_down": 0,
              "created_at": "2016-12-27T14:43:58.000Z",
              "updated_at": "2017-04-13T18:56:19.000Z",
              "sentiment": 0.963555,
              "sku": "1",
              "name": "Robert S.",
              "email": "robsmith@email.com",
              "reviewer_type": "verified_buyer",
              "deleted": false,
              "user_reference": null,
              "is_incentivized": true,
              "incentive_type": "free_product"
            },
            {
              "id": 34950796,
              "title": "Very Good Shirts",
              "content": "These shirts fit well and are excellent quality. Need more non-iron and buttoned down choices.",
              "score": 4,
              "votes_up": 0,
              "votes_down": 0,
              "created_at": "2016-12-27T15:12:44.000Z",
              "updated_at": "2017-06-14T20:10:40.000Z",
              "sentiment": 0.981573,
              "sku": "1"[...]
